/* Variables */
:root{
    --lightgray: #eaeaea;
    --gray: #424242;
    --blue: #2C9ED7;
    --pink: #C9868E;
    --purple: #483970;
    --orange: #C26C5C;
    --btn: #1E3581;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Sélecteurs */
a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer{
    padding: 70px 0 30px 0px;
}

footer h2{
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: auto;
  }

input {
    height: 60px;
  }
  
textarea {
    padding-top: 21px;
  }
  
input, textarea {
    background-color: var(--lightgray);
    border-radius: 6px;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding-left: 33px;
  }
  
::placeholder {
    color: #828282;
    font-size: 20px;
  }
  

h1{
    color: white;
    font-size: 110px;
}

h2{
    color: var(--gray);
    font-size: 96px;
    text-align: center;
}

h3{
    color:var(--blue);
    margin-bottom: 13px;
    font-size: 36px;
}

h4{
    color: white;
    text-align: center;
    font-size: 48px;
}

h1,h2,h4{
    text-transform: uppercase;
}

header{
    background-image: url(img/img-homebg-ordi.jpg);
    background-size: cover;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8vw 8.4vw;
}

p{
    color: var(--gray);
    font-size: 18px;
    font-weight: 300px;
    line-height: 29px;
}

ul{
    display: flex;
}

/* Header */
.menu li{
    margin-left: 4vw;
    font-size: 24px;
}

.wall-e{
    display: inline-block;
    position: absolute;
    right: 15vw;
    top: 30vh;
}

.wall-e img{
    background-color: white;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    object-fit: scale-down;
}

.wall-e ul{
    display: flex;
    justify-content: space-between;
}

/* Section Eve */
.section-eve{
    height: 100vh;
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
}

.eve-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 750px;
}

.eve-description{
    margin-left: 4vw;
}

/* .eve-description h3{
    margin-bottom: 13px;
 } */

.eve-content span{
   color: var(--blue);
   font-weight: 900;
}

/* Section Mc Crea */
.mccrea-section{
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(239, 239, 239, 0.1) 0%, rgba(72, 57, 112, 0.1) 100%);
}

.mccrea-content{
    display: flex;
    justify-content: space-around;
    flex: wrap;
    height: 100vh;
} 

.mccrea-content article{
    width: 250px;
    height: 400px;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.mccrea-content article h4 {
    margin-top: 30px;
  }

.mccrea-content article img{
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.capitain1{
    background-color: var(--pink);
    align-self: flex-end;
}

.capitain2{
    background-color: var(--purple);
    align-self: center;
}

.capitain3{
    background-color: var(--orange);
}

/* FOOTER */
.contact-btn{
    padding: 14px 52px;
    background-color: var(--btn);
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 47px;
    margin-top: 38px;
    border: none;
}
